---
import { oneIDinvite } from '../../../backend/backend.mjs';
import Layout  from '../../layouts/Layout.astro';

const { id } = Astro.params;
const invite = await oneIDinvite(id);
console.log(invite);

if(!invite){
   return Astro.redirect('/invites');
}

---

<Layout titre={invite.nom}>
    <h1>{invite.nom} {invite.prenom}</h1>
    <div>
        <img src={invite.photoInvite} alt="/"/>
        <p>{invite.role}</p>
        <p>Contact : {invite.mail}</p>
        <p>Biographie<br>{invite.biographie}</p>
    </div>
</Layout>