---
import { oneIDinvite, allMoviesByInviteId, allActivitesByInviteId } from '../../../backend/backend.mjs';
import Layout  from '../../layouts/Layout.astro';
import MovieCard from '../../components/MovieCard.astro';
import ActiviteCard from '../../components/ActiviteCard.astro'; // Ajout pour les activités

const { id } = Astro.params;
const invite = await oneIDinvite(id);
const movies = await allMoviesByInviteId(id);
const activites = await allActivitesByInviteId(id);
console.log(invite, movies, activites);

if (!invite) {
   return Astro.redirect('/invites');
}
---

<Layout titre={invite.nom}>
    <h1>{invite.nom} {invite.prenom}</h1>
    <div>
        <img src={invite.photoInvite} alt="{invite.nom} {invite.prenom}" />
        <p>{invite.role}</p>
        <p>Contact : {invite.mail}</p>
        <p>Biographie<br>{invite.biographie}</p>
    </div>

    <div class="px-4 sm:px-6 lg:px-12">
        <h2>Films présentés</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            {movies.length > 0 ? (
                movies.map((movie) => <MovieCard {...movie} />)
            ) : (
                <p>Aucun film présenté par cet invité.</p>
            )}
        </div>
    </div>
    
    <div class="px-4 sm:px-6 lg:px-12 mt-8">
        <h2>Activités animées</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            {activites.length > 0 ? (
                activites.map((activite) => <ActiviteCard {...activite} />)
            ) : (
                <p>Aucune activité animée par cet invité.</p>
            )}
        </div>
    </div>    
</Layout>
