---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

const { title, subTitle, subTitle2, src, alt, classContent = "max-w-2xl mx-6 my-16 lg:mx-auto" } = Astro.props;
---

<Layout title={title}>
  <div class="relative h-[40vh] md:h-[60vh] lg:h-[70vh] w-full">
    <Image
      src={src}
      alt={alt}
      class="duotone absolute inset-0 w-full h-full object-cover object-center"
      quality={90}
    />
    
    <div class="absolute inset-0 flex flex-col justify-center md:justify-end pb-0 md:pb-10 lg:pb-12 px-4 md:px-6 lg:px-12">
      <div class="space-y-2 md:space-y-3 lg:space-y-4 text-white z-10 max-w-3xl">
        <h1 class="text-3xl md:text-5xl lg:text-7xl">{title}</h1>
        {subTitle && (
          <h2 class="font-DMSans text-lg md:text-xl lg:text-2xl font-bold uppercase">{subTitle}</h2>
        )}
        {subTitle2 && (
          <h3 class="font-DMSans text-base md:text-lg lg:text-xl font-bold">{subTitle2}</h3>
        )}
      </div>
    </div>
  </div>

  <div class={classContent}>
    <slot name="content" />
  </div>
</Layout>